@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<body>

<div class="container">
    <h3>Find your perfect whip.</h3>
    <form id="search-form" method="GET">
        <div class="form-container">
            <div class="form-row" id="brand-row">
                @Html.Label("brand-drop-button", "Brand", new {@class = "h4"})
                <!--select id="brand-drop-button" name="brand-drop-button"></!--select>
               <!-- @Html.TextBox("brand", "", new {@id = "brand", @name="brand"})-->
                
            </div>
            <div class="form-row" id="model-row">
                @Html.Label("model-drop-button", "Model", new {@class = "h4"})
               <!--@Html.TextBox("model", "", new {@id = "model", @name="model"})-->
            </div>
                <div class="form-row">
                @Html.Label("year", "Year", new {@class = "h4"})
                @Html.TextBox("year", "", new {@id = "year", @name="year"})
            </div>
                <div class="form-row">
                @Html.Label("engineSize", "Engine Size", new {@class = "h4"})
                @Html.TextBox("engineSize", "", new {@id = "engineSize", @name="engineSize"})
            </div>
            <div class="form-row">
                <input type="button" value="Search" onclick="clearProducts(); setSearchTerm();">
            </div>
        </div>
    </form>
    <div class="search-box" style="height:400px;">
        
    </div>
    </div>

<div class="container-fluid" id="products-container"></div>
   

</div>
</body>



@section Scripts {
    <script>   

        let url = "https://localhost:7096/api/Products?size=100";
        fetch(url)
            .then(response => response.json())
            .then(data => showProducts(data))
            .catch(ex => {
                alert("error ");
                console.error(ex);
            });
            
        
        

    </script>
}
        
        