@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<body>
    

<div id="index-bg-image"></div>
<div id="search-container" class="container background">
    
    <form id="search-form" method="GET">
        <fieldset class="form-container">
            <legend><h3>Find your perfect whip.</h3></legend>
            <div class="form-row mt-2" id="brand-row-index">
                @Html.Label("brand-drop-button", "Brand", new {@class = "h4"})
                <select id="brand-drop-button" class="form-control" name="brand-drop-button"></select>
               <!-- @Html.TextBox("brand", "", new {@id = "brand", @name="brand"})-->
                
            </div>
            <div class="form-row mt-2" id="model-row-index">
                @Html.Label("model-drop-button", "Model", new {@class = "h4"})
                <select id="model-drop-button" class="form-control" name="model-drop-button"></select>
               <!--@Html.TextBox("model", "", new {@id = "model", @name="model", @class="form-control"})-->
            </div>
            <div class="form-row mt-2">
                @Html.Label("year", "Year", new {@class = "h4"})
                @Html.TextBox("year", "", new {@id = "year", @name="year", @class="form-control number year"})
            </div>
            <div class="form-row mt-2">
                @Html.Label("engineSize", "Engine Size", new {@class = "h4"})
                @Html.TextBox("engineSize", "", new {@id = "engineSize", @name="engineSize", @class="form-control number"})
            </div>
            <div class="form-row mt-2">
                <input class='btn' type="button" id="search-button" value="Search" onclick="clearProducts(); setSearchTerm();">
            </div>
        </fieldset>
    </form>
    
    
</div>

<div id="products-bg">
    <div id="categories-container" class="container-fluid row justify-content-center">
        <a onclick="clearProducts(); setSearchTerm('categoryID=1');" id="cat-sedan" class="categories-box col"><img src="https://cdn-icons-png.flaticon.com/512/55/55283.png" /><br /><h5>Sedan</h5></a>
        <a onclick="clearProducts(); setSearchTerm('categoryID=2');" id="cat-suv" class="categories-box col"><img src="https://cdn-icons-png.flaticon.com/512/5113/5113923.png" /><h5>SUV</h5></a>
        <a onclick="clearProducts(); setSearchTerm('categoryID=3');" id="cat-ute" class="categories-box col"><img src="https://cdn-icons-png.flaticon.com/512/26/26596.png"/><h5>Ute</h5></a>
        <a onclick="clearProducts(); setSearchTerm('categoryID=4');" id="cat-4x4" class="categories-box col"><img src="https://cdn-icons-png.flaticon.com/512/37/37859.png"/><h5>4x4</h5></a>
        <a onclick="clearProducts(); setSearchTerm('categoryID=5');" id="cat-wagon" class="categories-box col"><img src="https://cdn-icons-png.flaticon.com/512/5952/5952605.png"/><h5>Wagon</h5></a>
        <a onclick="clearProducts(); setSearchTerm('categoryID=6');" id="cat-hatch" class="categories-box col"><img src="https://cdn-icons-png.flaticon.com/512/55/55308.png"/><h5>Hatch</h5></a>
        <a onclick="clearProducts(); setSearchTerm('categoryID=7');" id="cat-2-door" class="categories-box col"><img src="https://cdn-icons-png.flaticon.com/512/68/68321.png"/><h5>Coupe</h5></a>
</div>



<div class="container-fluid" id="products-container"></div>
<div class="container" id="paging-container">
            <button class="btn" type="button" id="pg-left" value="" onclick="buttonPageDown();">Prev</button>
            <button class="btn" type="button" id="pg-right" text="" onclick="buttonPageUp();">Next</button>
</div>
</div>

    <div class="popup-details" id="details-container">
    <div class="col" id="details-info-container">
    <div class="container" id="details-box">
        <table id="popup-table">
        <tr>
            <th><p>ID</p></th>
            <td><p id="id-details">ID</p></td>
            <th><p>Brand</p></th>
            <td><p id="brand-details">Brand</p></td>
            <th><p>Model</p></th>
            <td><p id="model-details">Model</p></td>
        </tr>
        <tr>
            <th><p>Year</p></th>
            <td><p id="year-details">Year</p></td>
            <th><p>Price</p</th>
            <td><p id="salePrice-details">SalePrice</p</td>
            <th><p>Is on Sale</p</th>
            <td><p id="sale-details">OnSale</p</td>
            
                </tr>
                <tr>
                    <th><p>Engine Size</p</th>
            <td><p id="engineSize-details">EngineSize</p</td>
        </tr>
        </table>
    </div>
    <span id="close-button" onclick="closePopup()">&times;</span>
    <div id="popup-image">
        <img src="" alt="" id="car-image" />
    </div>
        </div>
         </div>


</body>



@section Scripts {
    <script>   
        closePopup();
        var currentPage = getPage();
        let url = "https://localhost:7096/api/Products?page=" + currentPage;
        fetch(url)
            .then(response => response.json())
            .then(data => showProducts(data))
            .catch(ex => {
                alert("error ");
                console.error(ex);
            });
            
        
        

    </script>
}
        
        